:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1e1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* works on firefox, doesn't show in chrome*/
  scrollbar-width: thin;

  --dark-accent-color: #1a1a1a;


  --scrollbar-color: #4d4d4d;
  --scrollbar-color: #4d4d4d;
  --border-radius-small: 8px;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 8px;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background-color: var(--dark-accent-color);
  border-radius: var(--border-radius-small);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: var(--border-radius-small);
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-accent-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  /* overflow: auto; */
  /* Enable scroll if needed */

  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

/* Modal Content */
.modal-content {
  color: #fefefe;
  background-color: #202224;
  margin: auto;
  padding: 20px;
  border: 1px solid #202224;
  width: 400px;
  height: 600px;
  border-radius: var(--border-radius-small);

  overflow: auto;
  scrollbar-width: thin;
}

.modal-content::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: var(--border-radius-small);
}

.modal-content::-webkit-scrollbar {
  width: 10px;
}

.modal-content::-webkit-scrollbar-track {
  background-color: var(--dark-accent-color);
  border-radius: var(--border-radius-small);
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--dark-accent-color);
  transition: border-color 0.25s;
  border-radius: var(--border-radius-small);
}

#inner-modal-content {
  width: 400px;
  height: 600px;
}

#cryptoList {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  scrollbar-width: thin;
  width: 400px;
  height: 550px;
}

#cryptoList::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: var(--border-radius-small);
}

#cryptoList::-webkit-scrollbar {
  border-radius: var(--border-radius-small);
}

#cryptoList::-webkit-scrollbar-track {
  background-color: var(--dark-accent-color);
  border-radius: 10px;
}

#cryptoList div {
  margin: 20px;
  object-fit: cover;
}

#cryptoList div {
  height: auto;
  max-height: 100px;
  width: auto;
  max-width: 100px;
  cursor: pointer;
}

#cryptoList img {
  width: 45px;
}

/* 

  New Transaction popup

*/
#transactionForm>* {
  margin: 10px auto;
}

#transactionForm div {
  min-width: 55%;
}

.availableAmountDiv {
  /* display: inline-grid;
  justify-items: start; */
  display: flex;
  justify-items: start;
  flex-direction: column;
  align-items: center;
}

#availableAmount {
  font-size: 12px;
  font-weight: 500;
  color: #757575;
}

#toggleTransactionType {
  display: flex;
  justify-content: center;
}

#buyTransactionBtn,
#sellTransactionBtn {
  border-radius: 8px;
  padding: 5px 25px;
  background-color: var(--dark-accent-color);
  margin: 0 2px;
  cursor: pointer;
  /* opacity: 0.8; */
  ;
}

#buyTransactionBtn.active,
#sellTransactionBtn.active {
  background-color: var(--scrollbar-color);
  opacity: 1;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }

  25% {
    margin-left: 0.5rem;
  }

  75% {
    margin-left: -0.5rem;
  }

  100% {
    margin-left: 0rem;
  }
}








.assetsTable {
  background-color: #202224;
  border-radius: 20px;
  padding: 0px 20px;
  width: 100%;
  /* width: max-content; */
  position: relative;

  /* Max height so the table doesn't take up the whole page */
  max-height: 400px;
  overflow: auto;
  scrollbar-width: thin;
  padding-bottom: 10px;
}

.assetsTable::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 10px;
}

.assetsTable::-webkit-scrollbar {
  width: 10px;
}

.assetsTable::-webkit-scrollbar-track {
  background-color: var(--dark-accent-color);
  border-radius: 10px;
}

#addCrypto {
  position: absolute;
  top: 50px;
  right: 30px;
}

#assetsTableTitle {
  text-align: left;
  margin-left: 10px;
  font-size: 35px;
  font-weight: 600;
}

.table {
  display: inline;
}

.table * {
  /* ToDO: Figure out the optimal padding for ALL tables */
  padding: 5px 10px;
}

.assetsTableBtns {
  display: inline;
}

.iconBtn {
  padding: 5px;
}

/* 

  Summary

*/
.summary {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  background-color: #202224;
  border-radius: 20px;
  justify-content: center;
  flex-grow: 1;
}

.summary h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.summary>* {
  margin: 0 10px;
}

.chart {
  width: 49%;
  height: 400px;
  block-size: fit-content;

  background-color: #202224;
  border-radius: 20px;
  padding-bottom: 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px auto;
  gap: 10px;
}

/* 

  LINECHART

*/
.mainChart {
  width: 95%;
  padding: 10px 20px;
  position: relative;
}

.totalValueTitle {
  margin-top: 5px;
  margin-bottom: 10px;
}

.toggleDate {
  margin-bottom: 10px;
}

.toggleDateModes {
  padding: 5px;
}

.toggleDateModes.active {
  border-color: #646cff;
}



/* Hide the input */
#exportDataBtn {
  cursor: pointer;
}

#importDataBtn {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#fileInputLabel {
  all: unset;
  cursor: pointer;
  line-height: 24px;
}


/* 

  Ethereum Staking

*/
#ethereumStaking {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #202224;
  border-radius: 20px;
  white-space: nowrap;
  width: 25%;

  padding-left: 1.5rem;
  padding-right: 50px;
  text-align: left;
}

#ethereumStakingTitle {
  font-weight: 500;
  font-size: 18px;
}

#ethereumStakedAmount {
  font-weight: 600;
  font-size: 19px;
  opacity: 0.5;
}

.ethereumStakingTotalRewards {
  font-weight: 400;
  font-size: 15px;
}

#ethereumStakingTotalRewards {
  opacity: 0.5;
  cursor: pointer;
}

.ethereumStakingDailyRewards {
  font-weight: 400;
  font-size: 15px;
}

#ethereumStakingDailyRewards {
  opacity: 0.5;
}

/* 

  Manage transactions

*/
.manage-transactions-modal-content {
  width: 500px;
}