:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #1c1e1f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  color: #242424;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
  height: 600px;
  border-radius: 8px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  transition: border-color 0.25s;
  border-radius: 8px;
}

#inner-modal-content {
  width: 400px;
  height: 600px;
}

#cryptoList {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  width: 400px;
  height: 550px;
}

#cryptoList div {
  margin: 20px;
  object-fit: cover;
}

#cryptoList div {
  height: auto;
  max-height: 100px;
  width: auto;
  max-width: 100px;
  cursor: pointer;
}

#cryptoList img {
  width: 45px;
}

#transactionForm * {
  margin: 10px;
}

.assetsTable {
  background-color: #202224;
  border-radius: 20px;
  padding: 10px 20px;

  width: max-content;

  position: relative;
}

#addCrypto {
  position: absolute;
  top: 50px;
  right: 30px;
}

#assetsTableTitle {
  text-align: left;
  margin-left: 10px;
  font-size: 35px;
  font-weight: 600;
}

.table {
  display: inline;
}

.table * {
  padding: 15px;
}

/* .summary {
  background-color: #202224;
  border-radius: 20px;

  width: max-content;
  justify-content: center;
  align-content: center;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
} */

.summary {
  position: absolute;
  top: 50px;
  left: 300px;
  display: flex;
  align-items: center;
  border: 1px solid #888;
  border-radius: 8px;
  padding: 10px;
}

.summary h3 {
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.summary span {
  opacity: 0.1;
}

.summary * {
  padding: 0 10px;
}

.chart {
  width: 49%;
  height: 400px;
  block-size: fit-content;

  background-color: #202224;
  border-radius: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mainChart {
  width: 95%;
  margin: 2% auto;
  padding: 10px 20px;
}
